<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./sellSearch.module.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <p class="title">■ 품목 조회</p>
        <div class="top">
          <div class="code">
            <p class="category">품목코드</p>
            <input class="codeInput" placeholder="품목코드" />
          </div>
          <div class="name">
            <p class="category">품목명</p>
            <input class="nameInput" placeholder="품목명" />
          </div>
          <div class="search">
            <button class="searchButton">검색</button>
          </div>
        </div>
        <div class="bottom">
          <div class="controlButtons">
            <button>&lt; &nbsp; 이전</button>
            <button>다음 &nbsp; &gt;</button>
          </div>

          <div class="resultTable">
            <table>
              <thead>
                <tr>
                  <th><input type="checkbox" /></th>
                  <th>품목코드</th>
                  <th>품목명</th>
                  <th>수정</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <!-- 데이터 조회 결과 -->
                <!-- <tr>
                  <td>..</td>
                  <td>..</td>
                </tr> -->
              </tbody>
            </table>
          </div>

          <div class="pageButtons"></div>
          <div class="optionButtons">
            <button class="apply">적용</button>
            <button class="new">신규</button>
            <button class="close">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="./controller.js"></script>
  </body>
</html>
