<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./sellAdd.module.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <p class="title">■ 품목 등록</p>
        <div class="enroll">
          <div class="code">
            <p class="category">품목코드</p>
            <input class="codeInput" placeholder="품목코드" />
          </div>
          <div class="description">
            <p class="category">품목명</p>
            <input class="descriptionInput" placeholder="품목명" />
          </div>
        </div>

        <div class="optionButtons">
          <button>저장</button>
          <button>삭제</button>
          <button>다시작성</button>
          <button>닫기</button>
        </div>
      </div>
    </div>
  </body>
</html>
