* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
input {
  padding-left: 8px;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 1200px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  border: 1px solid black;
  padding: 20px 0px;
  font-weight: bolder;
}

.searchSection {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
}

.searchSection .date,
.searchSection .code,
.searchSection .quantity,
.searchSection .price,
.searchSection .description {
  height: 40px;
  background-color: #ededed;
  overflow: hidden;
  display: flex;
  align-items: center;

  font-size: 13px;
  font-weight: bolder;
  border-bottom: 1px solid #a7a7a7;
}

.category {
  width: 15%;
}

.searchButton {
  width: 70px;
  height: 25px;
  background-color: rgb(85, 67, 219);
  border: none;
  cursor: pointer;
  color: white;
}

.searchSection .codeInput,
.searchSection .quantityInput,
.searchSection .priceInput,
.searchSection .descriptionInput {
  width: 500px;
  height: 30px;
  border: 1px solid #a7a7a7;
}

.searchSection .dateInput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dateInput select {
  height: 27px;
}

.numberInput {
  width: 25px;
  margin-left: 20px;
}

.controlButtons {
  display: flex;
  gap: 5px;
}
.controlButtons button {
  width: 70px;
}

.optionButtons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.optionButtons button {
  border: none;
  width: 75px;
  height: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
}
.optionButtons button:nth-child(1) {
  background-color: rgb(85, 67, 219);
  color: white;
}
